<section id="reset" class="auth">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1
          class="logo p-3 cursor-pointer"
          [routerLink]="['/landingPage/home']"
        >
          Stay<span>cation.</span>
        </h1>

        <div class="card-auth">
          <div class="header-auth">
            <h2>Reset Password</h2>
            <p class="mb-0">If you already have an account register</p>
            <p>
              You can
              <a class="text-decoration-none" routerLink="/auth/signin"
                >Login here !
              </a>
            </p>
          </div>

          <div class="inputs-auth">
            <form [formGroup]="resetForm" (ngSubmit)="sendData()">
              <div class="form-group mb-3">
                <label for="exampleInputEmail1" class="text-secondryColor"
                  >Email address</label
                >
                <input
                  type="email"
                  formControlName="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="Enter email"
                />
                <small id="emailHelp" class="form-text text-danger mt-1">
                  <p
                    *ngIf="
                      resetForm.get('email')?.getError('required') &&
                      resetForm.get('email')?.touched
                    "
                    class="mb-0"
                  >
                    Email is required
                  </p>
                  <p
                    *ngIf="resetForm.get('email')?.getError('email')"
                    class="mb-0"
                  >
                    Ivalid format mail
                  </p>
                </small>
              </div>
              <div class="form-group mb-3">
                <label for="exampleInputEmail2" class="text-secondryColor"
                  >OTP</label
                >
                <input
                  type="text"
                  formControlName="seed"
                  class="form-control"
                  id="exampleInputEmail2"
                  aria-describedby=""
                  placeholder="Enter Code"
                />
                <small
                  id=""
                  class="form-text text-danger"
                  *ngIf="
                    resetForm.get('seed')?.getError('required') &&
                    resetForm.get('seed')?.touched
                  "
                >
                  <p class="mb-0">Code is required</p>
                </small>
              </div>

              <div class="form-group mb-3">
                <div class="pass position-relative">
                  <label for="exampleInputPassword1" class="text-secondryColor"
                    >Password</label
                  >
                  <div class="position-relative">
                    <input
                      [type]="hidePassword ? 'password' : 'text'"
                      formControlName="password"
                      class="form-control"
                      id="exampleInputPassword1"
                      placeholder="Enter Password"
                    />
                    <small
                      id=""
                      class="form-text text-danger"
                      *ngIf="
                        resetForm.get('password')?.getError('required') &&
                        resetForm.get('password')?.touched
                      "
                    >
                      <p class="mb-0">Password is required</p>
                    </small>
                    <span
                      (click)="hidePassword = !hidePassword"
                      class="eye-icon pointer"
                      ><i
                        class="fa-solid pointer"
                        [class]="hidePassword ? 'fa-eye-slash' : 'fa-eye'"
                      ></i
                    ></span>
                  </div>
                </div>
              </div>
              <div class="form-group mb-3">
                <div class="pass position-relative">
                  <label for="exampleInputPassword2" class="text-secondryColor"
                    >Confirm Password</label
                  >
                  <div class="position-relative">
                    <input
                      [type]="hideRePassword ? 'password' : 'text'"
                      formControlName="confirmPassword"
                      class="form-control"
                      id="exampleInputPassword2"
                      placeholder="Enter Confirm Password"
                    />
                    <span
                      (click)="hideRePassword = !hideRePassword"
                      class="eye-icon pointer"
                      ><i
                        class="fa-solid pointer"
                        [class]="hideRePassword ? 'fa-eye-slash' : 'fa-eye'"
                      ></i
                    ></span>
                    <small
                      id=""
                      class="form-text text-danger"
                      *ngIf="
                        resetForm
                          .get('confirmPassword')
                          ?.getError('required') &&
                        resetForm.get('confirmPassword')?.touched
                      "
                    >
                      <p class="mb-0">Confirm Password is required</p>
                    </small>
                  </div>
                </div>
              </div>

              <button
                [disabled]="resetForm.invalid"
                type="submit"
                class="primary btn w-100 my-3"
              >
                Reset
              </button>
            </form>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 cover d-none d-md-flex flex-column justify-content-end p-5"
      >
        <div class="caption text-white">
          <h3>Reset Password</h3>
          <p>Homes as unique as you.</p>
        </div>
      </div>
    </div>
  </div>
</section>
