<section id="signup" class="auth">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1
          class="logo p-3 cursor-pointer"
          [routerLink]="['/landingPage/home']"
        >
          Stay<span>cation.</span>
        </h1>
        <div class="card-auth">
          <div class="header-auth">
            <h2>Sign up</h2>
            <p class="mb-0">If you already have an account register</p>
            <p>
              You can
              <a class="text-decoration-none text-danger" routerLink="/auth/signin"
                >login here !
              </a>
            </p>
          </div>
          <div class="inputs-auth">
            <form [formGroup]="signUpForm" (ngSubmit)="onSubmit(signUpForm)">
              <div class="row justify-content-center">
                <div class="col-md-6">
                  <div>
<ngx-dropzone
                    (change)="onSelect($event)"
                    [multiple]="false"
                    class="circle-preview"
                  >
                    <ngx-dropzone-label class="text-main p-3">
                      <i class="fa-solid fa-upload fa-3x mb-3"></i>
                      <p>uppload image</p>
                    </ngx-dropzone-label>
                    <ngx-dropzone-image-preview
                      ngProjectAs="ngx-dropzone-preview"
                      [removable]="true"
                      (removed)="onRemove(f)"
                      *ngFor="let f of files"
                      [file]="f"
                    >
                    </ngx-dropzone-image-preview>
                  </ngx-dropzone>
                  </div>

                </div>
              </div>
              <div class="form-group mb-3">
                <label for="exampleInputUserName" class="text-secondryColor"
                  >User name</label
                >
                <input
                  formControlName="userName"
                  type="text"
                  class="form-control"
                  id="exampleInputUserName"
                  aria-describedby="userName"
                  placeholder="User name"
                />
                <small
                  id="userName"
                  class="form-text text-danger"
                  *ngIf="
                    signUpForm.controls.userName.errors &&
                    signUpForm.controls.userName.touched
                  "
                >
                  <p
                    *ngIf="signUpForm.get('userName')?.getError('required')"
                    class="mb-0"
                  >
                    Email is required
                  </p>
                  <p
                    *ngIf="signUpForm.get('userName')?.getError('pattern')"
                    class="mb-0"
                  >
                    Enter valid user name please
                  </p>
                </small>
              </div>
              <div class="form-group mb-3">
                <div class="row gap-2 flex-nowrap">
                  <div class="col-md-6">
                    <label
                      for="exampleInputPhoneNumber"
                      class="text-secondryColor"
                      >Phone number</label
                    >
                    <input
                      formControlName="phoneNumber"
                      type="tel"
                      class="form-control"
                      id="exampleInputPhoneNumber"
                      aria-describedby="phoneNumber"
                      placeholder="Phone number"
                    />
                    <small
                      id="phoneNumber"
                      class="form-text text-danger"
                      *ngIf="
                        signUpForm.controls.phoneNumber.errors &&
                        signUpForm.controls.phoneNumber.touched
                      "
                    >
                      <p
                        *ngIf="
                          signUpForm.get('phoneNumber')?.getError('required')
                        "
                        class="mb-0"
                      >
                        Phone number is required
                      </p>
                      <p
                        *ngIf="
                          signUpForm.get('phoneNumber')?.getError('pattern')
                        "
                        class="mb-0"
                      >
                        Accept only egyptian numbers
                      </p>
                    </small>
                  </div>
                  <div class="col-md-6">
                    <label for="exampleInputCountry" class="text-secondryColor"
                      >Country</label
                    >
                    <input
                      formControlName="country"
                      type="text"
                      class="form-control"
                      id="exampleInputCountry"
                      aria-describedby="country"
                      placeholder="Country"
                    />
                    <small
                      id="country"
                      class="form-text text-danger"
                      *ngIf="
                        signUpForm.controls.country.errors &&
                        signUpForm.controls.country.touched
                      "
                    >
                      <p
                        *ngIf="signUpForm.get('country')?.getError('required')"
                        class="mb-0"
                      >
                        Feild is required
                      </p>
                    </small>
                  </div>
                </div>
              </div>
              <div class="form-group mb-3">
                <label for="exampleInputEmail1" class="text-secondryColor"
                  >Email address</label
                >
                <input
                  formControlName="email"
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="Email"
                />
                <small
                  id="emailHelp"
                  class="form-text text-danger"
                  *ngIf="
                    signUpForm.controls.email.errors &&
                    signUpForm.controls.email.touched
                  "
                >
                  <p
                    *ngIf="signUpForm.get('email')?.getError('required')"
                    class="mb-0"
                  >
                    Email is required
                  </p>
                  <p
                    *ngIf="signUpForm.get('email')?.getError('email')"
                    class="mb-0"
                  >
                    Ivalid format mail
                  </p>
                </small>
              </div>
              <div class="form-group mb-3">
                <div class="pass position-relative">
                  <label for="exampleInputPassword1" class="text-secondryColor"
                    >Password</label
                  >
                  <input
                    formControlName="password"
                    [type]="hidePassword ? 'password' : 'text'"
                    class="form-control"
                    id="exampleInputPassword1"
                    placeholder="Password"
                  />
                  <span
                    (click)="hidePassword = !hidePassword"
                    class="eye-icon pointer"
                    ><i
                      class="fa-solid pointer"
                      [class]="hidePassword ? 'fa-eye-slash' : 'fa-eye'"
                    ></i
                  ></span>
                </div>
                <small
                  id="emailHelp"
                  class="form-text text-danger"
                  *ngIf="
                    signUpForm.controls.password.errors &&
                    signUpForm.controls.password.touched
                  "
                >
                  <p
                    *ngIf="signUpForm.get('password')?.getError('required')"
                    class="mb-0"
                  >
                    Password is required
                  </p>
                  <p
                    *ngIf="signUpForm.get('password')?.getError('pattern')"
                    class="mb-0"
                  >
                    Password must have A,a ,"&#64;",%,$,#, From 8 , 16
                  </p>
                </small>
              </div>
              <div class="form-group mb-3">
                <div class="pass position-relative">
                  <label for="exampleInputPassword2" class="text-secondryColor"
                    >Confirm password</label
                  >
                  <input
                    formControlName="confirmPassword"
                    [type]="hideConfirmPassword ? 'password' : 'text'"
                    class="form-control"
                    id="exampleInputPassword2"
                    placeholder="Repassword"
                  />
                  <span
                    (click)="hideConfirmPassword = !hideConfirmPassword"
                    class="eye-icon pointer"
                    ><i
                      class="fa-solid pointer"
                      [class]="hideConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"
                    ></i
                  ></span>
                </div>
                <small
                  id="emailHelp"
                  class="form-text text-danger"
                  *ngIf="
                    signUpForm.controls.confirmPassword.errors &&
                    signUpForm.controls.confirmPassword.touched
                  "
                >
                  <p
                    *ngIf="
                      signUpForm.get('confirmPassword')?.getError('required')
                    "
                    class="mb-0"
                  >
                    Feild is required
                  </p>
                  <p
                    *ngIf="
                      signUpForm.get('confirmPassword')?.getError('mismatch')
                    "
                    class="mb-0"
                  >
                    Please enter semilar value as password
                  </p>
                </small>
              </div>

              <button type="submit" class="primary btn w-100 my-3" [disabled]="!signUpForm.valid">
                Sign up
              </button>
            </form>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 cover d-none d-md-flex flex-column justify-content-end p-5"
      >
        <div class="caption text-white">
          <h3>Sign in to roamhome</h3>
          <p>Homes as unique as you.</p>
        </div>
      </div>
    </div>
  </div>
</section>
