button {
  border-radius: $border-reduis;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in;
  &.primary {
    background: $bg-mainColor;
    color: $text-whiteColor;
  }
  &.outline-primary {
    color: $text-mainColor;
    border: 2px solid $text-mainColor;
    background-color: $text-whiteColor;
  }
  &:disabled {
    opacity: 0.9;
    cursor: not-allowed;
  }

}
.cursor-pointer {
  cursor: pointer;
}
.logo {
  color: $text-mainColor;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  span {
    color: $text-secondryColor;
  }
  p {
    color: $text-secondryColor;
    font-size: 14px;
  }
}