$blue-main: #203fc7;
$text-mainColor: #3252df;
$text-secondryColor: #152c5b;
$text-whiteColor: #fdfffc;
$bg-mainColor: #3252df;
$border-reduis: 0.25rem;
$main-transition: all 0.3s ease-in;
$text-gray: #dddddddc;

$text-hover-gray: #bdbdbddc;
$text-power-gray: #5a5a5adc;
$bg-hover: #112994;
$light-black: #1b2340;
$bg-eye: #183ad26f;
$pink: #ff498b;
$light-green: #1abc9c;

$raduis: 0.5rem;
