$blue-main: #203fc7;
$text-mainColor: #3252df;
$text-secondryColor: #152c5b;
$text-whiteColor: #fdfffc;
$bg-mainColor: #3252df;
$border-reduis: 0.25rem;
$main-transition: all 0.3s ease-in;
$text-gray: #dddddddc;
$bg-hover: #112994;
$light-black: #1b2340;



$raduis : 0.5rem
