<section>
  <div class="container">
    <div class="row g-4 mt-4">
      <div class="col-md-4">
        <div class="black-box">
          <div class="pt-3">
            <span>100</span>
            <p>Rooms</p>
          </div>

          <span class="icon-work">
            <i class="material-icons">work</i>
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="black-box">
          <div class="pt-3">
            <span>100</span>
            <p>Facilities</p>
          </div>

          <span class="icon-work">
            <i class="material-icons">work</i>
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="black-box">
          <div class="pt-3">
            <span>100</span>
            <p>Ads</p>
          </div>

          <span class="icon-work">
            <i class="material-icons">work</i>
          </span>
        </div>
      </div>
    </div>

    <div>
      <div
        echarts
        [options]="chartOptions"
        class="chart"
        *ngIf="isBrowser"
      ></div>
      <!-- <div echarts [options]="chartOptions" class="chart"></div> -->
    </div>
  </div>
</section>
