@import "../abstructs/variables";
@import "../abstructs/mixin";
.auth {
@include auth-section;
}
#signin {
  .cover {
    @include bg-image;
    background-image: linear-gradient(
        51deg,
        rgba(23, 33, 33, 0.15) -22.39%,
        rgba(0, 0, 0, 0.2) 50%
      ),
    url(../../images/auth-images/backgound-sign-in.svg);
  }
}
#signup {
  .cover {
    @include bg-image;
    background-image: linear-gradient(
        51deg,
        rgba(23, 33, 33, 0.15) -22.39%,
        rgba(0, 0, 0, 0.2) 50%
      ),
      url(../../images/auth-images/background-sign-up.svg);
  }
}
#forgot-password{
  .cover {
    @include bg-image;
    background-image: linear-gradient(
        51deg,
        rgba(23, 33, 33, 0.15) -22.39%,
        rgba(0, 0, 0, 0.2) 50%
      ),
      url(../../images/auth-images/background-sign-up.svg);
  }
}
