<section *ngIf="AdsRooms">
  <h2 class="h3">Most popular ads</h2>
  <div class="container">
    <div
      *ngFor="let room of AdsRooms.slice(0, limit); let i = index"
      [ngClass]="'p' + (i + 1)"
      class="rounded-5 bg-secondary-subtle parent-layer"
    >
      <img [src]="room.room.images[0]" class="w-100 h-100 rounded-5" alt="" />
      <div class="layer">
        <span><i class="fa-solid fa-heart"></i></span>
        <span><i class="fa-solid fa-eye"></i></span>
      </div>
    </div>
  </div>
</section>
