<section *ngIf="Rooms">
  <div class="container my-4">
    <h2 class="h3 title">{{ "ads.Most popular ads" | translate }}</h2>
    <div class="contetnt-rooms">
      <div
        *ngFor="let room of Rooms.slice(0, 5); let i = index"
        [ngClass]="'p' + (i + 1)"
        class="rounded-5 parent-layer"
        [class]="defaultLanguage === 'en' ? 'ltr' : 'rtl'"
    >
      <img [src]="room.images[0]" class="w-100 h-100 rounded-5" alt="" />
      <div class="layer">
        @if(roleUser === 'user') {
          <span (click)="addRoomToFavorites(room._id)"
          ><i class="fa-solid fa-heart"></i
        ></span>
        } @else {
          <span (click)="openDialog('800ms', '300ms')"
          ><i class="fa-solid fa-heart"></i
        ></span>
        }
        <span><i class="fa-solid fa-eye"></i></span>
      </div>
      <div class="price-room">
        ${{ room.price }} {{ "per night" | translate }}
      </div>
      <div
        class="mb-1 ms-2 fs-5 text-white fa-bold position-absolute bottom-0 start-0"
      >
        {{ "Room number" | translate }}: {{ room.roomNumber }}
      </div>
    </div>
  </div>
  </div>
</section>
