<section class="py-5">
  <div class="container-fluid">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row py-5">
            <div class="col-md-4">
              <div class="slider-image">
                <img
                  src="../../../../../../../assets/images/raiting-images/familly.svg"
                  class="w-100"
                  alt="family image"
                />
              </div>
            </div>
            <div class="col-1"></div>
            <div class="col-md-7">
              <div class="mx-5" class="slider-content">
                <h2 class="my-5">Happy family</h2>
                <div class="stars">
                  <i class="fa-solid fa-star fa-2x mx-1"></i>
                  <i class="fa-solid fa-star fa-2x mx-1"></i>
                  <i class="fa-solid fa-star fa-2x mx-1"></i>
                  <i class="fa-solid fa-star fa-2x mx-1"></i>
                  <i class="fa-solid fa-star fa-2x mx-1"></i>
                </div>
                <div>
                  <h5 class="my-2">What a great trip with my family</h5>
                  <h4 class="h5">I should try again next time soon ...</h4>
                  <p class="mb-5 text-muted">Angga, Product Designer</p>
                </div>
                <div class="my-3 icon-navigation">
                  <i
                    class="fa-regular fa-circle-left fa-3x"
                    data-bs-target="#carouselExample"
                    data-bs-slide="prev"
                  ></i>
                  <i
                    class="fa-regular fa-circle-right fa-3x mx-5"
                    data-bs-target="#carouselExample"
                    data-bs-slide="next"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="row p-5">
            <div class="col-md-4">
              <div class="slider-image">
                <img
                  src="../../../../../../../assets/images/raiting-images/familly.svg"
                  class="w-100"
                  alt="family image"
                />
              </div>
            </div>
            <div class="col-1"></div>
            <div class="col-md-7">
              <div class="mx-5" class="slider-content">
                <h2 class="my-5">Happy family</h2>
                <div class="stars">
                  <i class="fa-solid fa-star fa-2x mx-1"></i>
                  <i class="fa-solid fa-star fa-2x mx-1"></i>
                  <i class="fa-solid fa-star fa-2x mx-1"></i>
                  <i class="fa-solid fa-star fa-2x mx-1"></i>
                  <i class="fa-solid fa-star fa-2x mx-1"></i>
                </div>
                <div>
                  <h5 class="my-2">What a great trip with my family</h5>
                  <h4 class="h5">I should try again next time soon ...</h4>
                  <p class="mb-5 text-muted">Angga, Product Designer</p>
                </div>
                <div class="my-3 icon-navigation">
                  <i
                    class="fa-regular fa-circle-left fa-3x"
                    data-bs-target="#carouselExample"
                    data-bs-slide="prev"
                  ></i>
                  <i
                    class="fa-regular fa-circle-right fa-3x mx-5"
                    data-bs-target="#carouselExample"
                    data-bs-slide="next"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row p-5">
            <div class="col-md-4">
              <div class="slider-image">
                <img
                  src="../../../../../../../assets/images/raiting-images/familly.svg"
                  class="w-100"
                  alt="family image"
                />
              </div>
            </div>
            <div class="col-1"></div>
            <div class="col-md-7">
              <div class="mx-5" class="slider-content">
                <h2 class="my-5">Happy family</h2>
                <div class="stars">
                  <i class="fa-solid fa-star fa-2x mx-1"></i>
                  <i class="fa-solid fa-star fa-2x mx-1"></i>
                  <i class="fa-solid fa-star fa-2x mx-1"></i>
                  <i class="fa-solid fa-star fa-2x mx-1"></i>
                  <i class="fa-solid fa-star fa-2x mx-1"></i>
                </div>
                <div>
                  <h5 class="my-2">What a great trip with my family</h5>
                  <h4 class="h5">I should try again next time soon ...</h4>
                  <p class="mb-5 text-muted">Angga, Product Designer</p>
                </div>
                <div class="my-3 icon-navigation">
                  <i
                    class="fa-regular fa-circle-left fa-3x"
                    data-bs-target="#carouselExample"
                    data-bs-slide="prev"
                  ></i>
                  <i
                    class="fa-regular fa-circle-right fa-3x mx-5"
                    data-bs-target="#carouselExample"
                    data-bs-slide="next"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
