<hr>
<section class="container">
  <div class="container m-5">
    <div class="row">
      <div class="col-md-3">
        <h4><span>Stay</span>cation.</h4>
        <p>We kaboom your beauty holiday <br>
          instantly and memorable.</p>
      </div>
      <div class="col-md-3">
        <h5>For Beginners</h5>
        <p>New Account</p>
        <p>Start Booking a Room </p>
        <p>Use Payments</p>
      </div>
      <div class="col-md-3">
        <h5>Explore Us</h5>
        <p>Our Careers </p>
        <p>Privacy</p>
        <p> Terms & Conditions</p>
      </div>
      <div class="col-md-3">
        <h5>Connect Us</h5>
        <p>support&#64;staycation.id</p>
        <p>021 - 2208 - 1996 </p>
        <p>Staycation, Kemang, Jakarta</p>
      </div>
    </div>
    <div class="text-center py-3">
      <p>Copyright 2019 • All rights reserved • Staycation</p>
    </div>

  </div>
</section>
