<hr />
<section class="">
  <div class="container-fluid p-sm-5 m-0">
    <div class="row g-4">
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <h4><span>Stay</span>cation.</h4>
        <p>{{ "footer.We kaboom your beauty holiday" | translate }}</p>
        <p>
          {{ "footer.instantly and memorable." | translate }}
        </p>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <h5>{{ "footer.For Beginners" | translate }}</h5>
        <p>
          {{ "footer.New Account" | translate }}
        </p>
        <p>
          {{ "footer.Start Booking a Room" | translate }}
        </p>
        <p>
          {{ "footer.Use Payments" | translate }}
        </p>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <h5>
          {{ "footer.Explore Us" | translate }}
        </h5>
        <p>
          {{ "footer.Our Careers" | translate }}
        </p>
        <p>
          {{ "footer.Privacy" | translate }}
        </p>
        <p>
          {{ "footer.Terms & Conditions" | translate }}
        </p>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <h5>
          {{ "footer.Connect Us" | translate }}
        </h5>
        <p>
          {{ "footer.support&#64;staycation.id" | translate }}
        </p>
        <p>021 - 2208 - 1996</p>
        <p>
          {{ "footer.Staycation, Kemang, Jakarta" | translate }}
        </p>
      </div>
    </div>
    <div class="text-center py-3">
      <p>Copyright 2019 • All rights reserved • Staycation</p>
    </div>
  </div>
</section>
