<section *ngIf="room">
  <div class="container">
    <div class="mb-3">
      <div class="mx-auto text-center">
        <h1>Village Angga</h1>
        <span>Bogor, Indonesia</span>
      </div>
    </div>

    <div class="row gap-0 g-2" *ngIf="room?.images?.length">
      <div class="col-md-8 par">
        <div class="">
          <owl-carousel-o [options]="customOptions" class="">
            @for (imgRoom of room.images.slice(0,room.images.length-2); track
            $index) {
            <ng-template class="" carouselSlide
              ><img class="w-100 rounded-4" [src]="imgRoom" alt=""
            /></ng-template>
            }
          </owl-carousel-o>
        </div>
      </div>
      <div class="col-md-4 par-2">
        <div class="d-flex flex-md-column gap-2">
          <div>
            <img
              class="w-100 rounded-4"
              [src]="room.images[room.images.length - 2]"
              alt=""
            />
          </div>
          <div>
            <img
              class="w-100 rounded-4"
              [src]="room.images[room.images.length - 1]"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>

    <div class="row my-4">
      <div class="col-md-8 py-4">
        <div class="lead">
          <p>
            Minimal techno is a minimalist subgenre of techno music. It is
            characterized by a stripped-down aesthetic that exploits the use of
            repetition and understated development. Minimal techno is thought to
            have been originally developed in the early 1990s by Detroit-based
            producers Robert Hood and Daniel Bell.
          </p>
          <p>
            Such trends saw the demise of the soul-infused techno that typified
            the original Detroit sound. Robert Hood has noted that he and Daniel
            Bell both realized something was missing from techno in the
            post-rave era.
          </p>
          <p>
            Design is a plan or specification for the construction of an object
            or system or for the implementation of an activity or process, or
            the result of that plan or specification in the form of a prototype,
            product or process. The national agency for design: enabling
            Singapore to use design for economic growth and to make lives
            better.
          </p>
        </div>

        <div class="row g-0">
          @for (fac of Facilities; track $index) {
          <div class="col-sm-3 col-6">
            <div>
              <span><i class="fa-solid fa-feather"></i></span>
              <p>{{ fac.name }}</p>
            </div>
          </div>
          }
        </div>
      </div>
      <div class="col-md-4 py-3">
        <div
          class="border border-1 rounded-4 border-secondary-subtle px-5 pb-4 pt-5 d-flex flex-column justify-content-between h-100"
        >
          <div>
            <h2 class="h3 title-booking">Start Booking</h2>
            <p class="price">
              <span>$ {{ room.price }}</span> per night
            </p>
            <span>Discount {{ room.discount }}% Off </span>
          </div>

          <div>
            <h2 class="h5">Pick a Date</h2>
            <div>
              <mat-form-field>
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input
                  [formGroup]="range"
                  [rangePicker]="picker"
                >
                  <input
                    matStartDate
                    formControlName="startDate"
                    placeholder="Start date"
                  />
                  <input
                    matEndDate
                    formControlName="endDate"
                    placeholder="End date"
                  />
                </mat-date-range-input>

                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>

                @if (range.controls.startDate.hasError('matStartDateInvalid')) {
                <mat-error>Invalid start date</mat-error>
                } @if (range.controls.endDate.hasError('matEndDateInvalid')) {
                <mat-error>Invalid end date</mat-error>
                }
              </mat-form-field>
            </div>
            <p>
              You will pay <span>{{ room.price }} USD</span>
            </p>
            <button (click)="BookingDateRoom()">Continue Book</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h3 class="h4 mb-1">Feedback Room</h3>
        <div class="d-flex gap-1 text-warning fs-3">
          <span><i class="fa-regular fa-star"></i></span>
          <span><i class="fa-regular fa-star"></i></span>
          <span><i class="fa-regular fa-star"></i></span>
          <span><i class="fa-regular fa-star"></i></span>
          <span><i class="fa-regular fa-star"></i></span>
        </div>

        <h4 class="my-1">Review about this Room</h4>
        <form class="mb-3" [formGroup]="reviewForm" (ngSubmit)="sendReview()">
          <textarea
            formControlName="review"
            placeholder="Add your Review"
            class="w-100 rounded-3 p-2"
            rows="4"
          ></textarea>
          <h4 class="mb-0 mt-1">Select Your Rating</h4>
          <div style="display: flex; align-items: center">
            <ngx-stars
              [readonly]="false"
              [size]="2"
              [maxStars]="5"
              color="#FFD700"
              class="text-warning"
              (ratingOutput)="onRatingSet($event)"
            ></ngx-stars>
          </div>
          <br />
          <button type="submit" class="btn btn-primary w-50">Send</button>
        </form>

        @for (rat of reviewDetails; track rat._id) {

        <div class="border border-2 border-warning p-1 rounded-3 w-75 mb-2">
          <p>{{ rat.review }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <span>{{ rat.rating }}</span>
            <div class="d-flex align-items-center">
              <img
                width="30px"
                height="30px"
                class="rounded-circle mx-1"
                [src]="rat.user.profileImage"
                alt=""
              />
              <h4 class="d-inline-block">{{ rat.user.userName }}</h4>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</section>
