<section>
  <div class="container-fluid">
    <div class="bg-info d-flex">
      <!-- <div class="bg-warning texts-path d-flex">
        <span>Home </span><span>/</span>
        <p>Room Details</p>
      </div> -->

      <div class="bg-warning d-flex align-items-center justify-content-center">
        <span>Home </span><span>/</span>
        <p>Room Details</p>
      </div>

      <div class="bg-secondary mx-auto pe-5">
        <h1>Village Angga</h1>
        <span>Bogor, Indonesia</span>
      </div>
    </div>
  </div>
</section>
