<section class="container my-5">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1>Forget Busy Work, <br>
          Start Next Vacation</h1>
          <p>We provide what you need to enjoy your holiday with family. <br> Time to make another memorable moments.</p>
          <div>
            <h6>Start Booking</h6>
            <div class="w-75">
              <button  class="bg-danger border-0 text-white px-4 btn-sm">-</button>
              <span class="px-5"> 2 person</span>
              <button  class="bg-info border-0 text-white px-4 btn-sm">+</button>
          </div>
          <button type="submit" class="primary btn px-5 my-3">Explore</button>
          </div>

      </div>
      <div class="col-6">
        <div class="image">
          <img src="../../../../../../../assets/images/landing-page/picture.png" class="w-100" alt=""  >
        </div>
      </div>
    </div>
  </div>
</section>
