<section class="container my-5">
  <div class="container"  >
    <div class="row" [class]="_ShredDataService.textDir === 'ltr'?'ms-4':'me-4'">
      <div class="col-6">
        <h1>{{'explore.Forget Busy Work,' | translate}}</h1>
          <h2 class="h1">

            {{'explore.Start Next Vacation' | translate}}

            </h2>
          <p>
            {{'explore.We provide what you need to enjoy your holiday with family.' | translate}}</p>
             <p>{{'explore.Time to make another memorable moments.' | translate}}</p>
          <div class="my-4">
            <h6>
              {{'explore.Start booking' | translate}}


</h6>
            <div class="w-75 ">
              <p class="m-0 p-0">
                {{'explore.Capacity' | translate}}</p>
              <button  class="bg-danger border-0 text-white px-4 btn-sm">-</button>
              <span class="px-5"> 2 person</span>
              <button  class="bg-info border-0 text-white px-4 btn-sm">+</button>
          </div>
          <button type="submit" class="primary btn px-5 my-3">
            {{'explore.Explore' | translate}}</button>
          </div>
      </div>
      <div class="col-6">
        <div class="image">
          <img src="../../../../../../../assets/images/landing-page/picture.png" class="w-100" alt=""  >
        </div>
      </div>
    </div>
  </div>
</section>
