<section>
  <div class="container py-5">
    <h1 class="title mb-4 text-center">Explore all rooms</h1>
  </div>
  <div class="container my-4">
    <h3 class="title mb-4">All rooms</h3>
    <div class="contetnt-rooms mb-4 h-100">
      @for (room of roomsList; track $index) {
      <div class="rounded-5 parent-layer">
        <img
          [src]="room.images[0]"
          class="w-100 h-100 rounded-5"
          alt="room image"
        />
        @if(!room.images[0]) {
        <img
          src="../../../../../assets/images/dasboard-images/dummy-image.png"
          class="w-100 h-100 rounded-5"
          alt="room image"
        />
        }
        <div class="layer">
          <span><i class="fa-solid fa-heart"></i></span>
          <span><i class="fa-solid fa-eye"></i></span>
        </div>
        <div class="price-room">
          {{ room.price | currency }} {{ "per night" | translate }}
        </div>
        <div
          class="mb-2 ms-2 fs-4 text-white fa-bold position-absolute bottom-0 start-0"
        >
          {{ "Room number" | translate }}: {{ room.roomNumber }}
        </div>
      </div>

      }
    </div>
    @if(roomsList.length === 0) {
    <div class="d-flex justify-content-center align-items-center vh-100">
      <app-no-data></app-no-data>
    </div>
    }
    <div
      class="paginator d-flex align-items-center justify-content-center py-4"
    >
      <mat-paginator
        (page)="handlePageEvent($event)"
        [length]="totalCount"
        [pageSize]="params.size"
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </div>
</section>
