@import "../../../assets/styles/abstructs/variables";

section {
  &.row {
    margin-left: 0;
    margin-right: 0;
  }
  .sidebar {
    background-color: $blue-main;
    transition: all 1s;
    width: 15%;

    &.closed {
      width: 7%;
    }

    .btn-toggle {
      background-color: $blue-main;
      padding: 5px;
      position: absolute;
      top: 20px;
      right: -20px;
      color: wheat;
      border-radius: 0 0.5rem 0.5rem 0;
      cursor: pointer;
      z-index: 999;
    }
  }
  .main-router {
    width: 85%;
    transition: 1s;
  }
  .main-router2 {
    width: 93%;
    transition: 1s;
  }
}
