<section>
  <div class="container">
    <div class="section-header">
      <div class="row gap-2 flex-nowrap">
        <div class="col-md-8">
          <div class="section-text">
            <h4>Rooms table details</h4>
            <p>You can check all details</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="section-btn">
            <button routerLink="/dashboard/rooms/add-room">Add new room</button>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-6 mt-3">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"
              ><i class="fa-solid fa-magnifying-glass"></i
            ></span>
            <input
              (keydown.enter)="getAllRooms()"
              type="text"
              placeholder="Search Here...."
              class="form-control rounded"
            />
          </div>
        </div>
        <div class="col-md-3 mt-3">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01"
                >Capicity</label
              >
            </div>
            <select [(ngModel)]="capacityName"
              (change)="getAllRooms()"
              class="form-select"
              aria-label="Default select example"
            >
              <option selected>All</option>
              <option *ngFor="let item of roomsData" [value]="item.capacity">
                {{ item.capacity }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-3 mt-3">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01"
                >Facility</label
              >
            </div>
            <select
            [(ngModel)] = "facilities"
              (change)="getAllRooms()"
              class="form-select"
              aria-label="facilities"
            >
              <option selected>All</option>
              <option *ngFor="let item of facilities" [value]="item._id">
                {{ item.name }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <table class="w-100">
    <thead>
      <tr>
        <th class="rounded-start">Room Number</th>
        <th>Image</th>
        <th>Price</th>
        <th>Discount</th>
        <th>Capacity</th>
        <th>Facilities</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of roomsData">
        <td class="rounded-start">{{item.roomNumber }}</td>
        <td>
          <img *ngIf="item.images[0]"  [src]=" item.images[0] " />
          <img *ngIf="!item.images[0]"  src="../../../../../assets/images/dasboard-images/dummy-image.png" alt="no image for this room" />
        </td>
        <td>{{item.price }}</td>
        <td>{{item.discount}}</td>
        <td>{{item.capacity}}</td>
        <td>{{item.capacity}}</td>
        <td>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/dashboard/rooms/view-room/', item._id]">
              <mat-icon>visibility</mat-icon>
              <span>View</span>
            </button>
            <button mat-menu-item [routerLink]="['/dashboard/rooms/edit-room/', item._id]">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item>
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <mat-paginator
      (page)="handlePageEvent($event)"
      [length]="totalCount"
      [pageSize]="[params.size]"
      [pageSizeOptions]="[5, 10, 25, 50, 100]"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</section>
