<section class="h-100">
  <div class="h-75 d-flex justify-content-center align-items-center ">
    <div>
      <div class="w-75 mx-auto">
        <img src="../../../../assets/images/png/no-data-picture.png" alt="" class="w-100">
      </div>
      <div class="text-center my-2 text-black">
        <h3 class="fs-1 fw-semibold">No Data !</h3>
        <p class="light-gray">you don't have any <span>{{header+'s'}}</span> , you can add new <span>{{header}}</span>
          now!</p>
      </div>
    </div>
  </div>
</section>
