<div class="auth p-5">
  <div class="text-end mb-3">
    <span (click)="onNoClick()"
      ><i class="pointer fa-regular fa-circle-xmark text-danger fa-2x"></i
    ></span>
  </div>
  <div class="text-center">
    <img src="../../../../assets/images/shared-module-images/delete-item.png" class="mb-5" alt="delete item confirmation" />
    <div class="text-center">
      <h4>
        Delete
        <span class="text-mainColor">
          {{ data.roomNumber || data.name || data.room?.roomNumber }}</span
        >
        ?
      </h4>
      <p>
        are you sure you want to delete
        <span class="text-mainColor">
          {{ data.roomNumber || data.name || data.room?.roomNumber }}</span
        >? if you are sure just click on delete it
      </p>
    </div>
    <div class="text-center">
      <button
        [mat-dialog-close]="data"
        cdkFocusInitial
        class="btn btn-outline-danger my-3"
      >
        Delete
      </button>
    </div>
  </div>
</div>
