@import "../../../../../assets/styles/abstructs/variables";
li {
  transition: $main-transition;
  &:hover {
    color: $blue-main;
  }
}
.active {
  color: $blue-main;
}
.secondery {
  color: $text-secondryColor;
}
button {
  img {
    height: 20px;
    width: 20px;
    
  }
}