<section>
  <div class="container">
    <div class="row flex-nowrap align-items-center justify-content-between">
      <div class="col-md-4">
        <div class="d-flex flex-column">
          <h1>Oooops</h1>
          <h2>Page not found</h2>
          <p class="">The page you are looking for doesn't exist or an other error occured, go back to home page</p>
            <button class="primary" routerLink="../">
              <i class="fa-solid fa-arrow-left me-2"></i>
              Go back
            </button>
        </div>
      </div>
      <div class="col-md-7">
        <img
          src="../../../../assets/images/not found/404 Error-bro.svg"
          class="w-100"
          alt="page not found"
        />
      </div>
    </div>
  </div>
</section>
