<section>
  <div class="container">
    <h2 class="h3">{{ "Houses.Houses with beauty backyard" | translate }}</h2>
    <div class="row g-4">
      @for (room of Rooms.slice(5,9); track $index) {
      <div class="col-md-3 col-sm-6 col-12">
        <div class="rounded-5 parent-layer h-100">
          <img [src]="room.images[0]" class="w-100 h-100 rounded-5" alt="" />
          <div class="layer">
            @if(roleUser === 'user') {
              <span (click)="addRoomToFavorites(room._id)"
              ><i class="fa-solid fa-heart"></i
            ></span>
            } @else {
              <span (click)="openDialog('800ms', '300ms')"
              ><i class="fa-solid fa-heart"></i
            ></span>
            }
            <span [routerLink]="['/landing-page/Details-Room', room._id]"><i class="fa-solid fa-eye"></i></span>
          </div>
          <div class="price-room">
            ${{ room.price }} {{ "per night" | translate }}
          </div>
          <div
            class="mb-1 ms-2 fs-5 text-white fa-bold position-absolute bottom-0 start-0"
          >
            {{ "Room number" | translate }}: {{ room.roomNumber }}
          </div>
        </div>
      </div>
      }
    </div>

    <h2 class="h3">{{ "hotels.Hotels with large living room" | translate }}</h2>
    <div class="row g-4">
      @for (room of Rooms.slice(9,13); track $index) {
      <div class="col-md-3 col-sm-6 col-12">
        <div class="rounded-5 parent-layer h-100">
          <img [src]="room.images[0]" class="w-100 h-100 rounded-5" alt="" />
          <div class="layer">
            @if(roleUser === 'user') {
              <span (click)="addRoomToFavorites(room._id)"
              ><i class="fa-solid fa-heart"></i
            ></span>
            } @else {
              <span (click)="openDialog('800ms', '300ms')"
              ><i class="fa-solid fa-heart"></i
            ></span>
            }
            <span [routerLink]="['/landing-page/Details-Room', room._id]"><i class="fa-solid fa-eye"></i></span>
          </div>
          <div class="price-room">
            ${{ room.price }} {{ "per night" | translate }}
          </div>
          <div
            class="mb-1 ms-2 fs-5 text-white fa-bold position-absolute bottom-0 start-0"
          >
            {{ "Room number" | translate }}: {{ room.roomNumber }}
          </div>
        </div>
      </div>
      }
    </div>

    <h2 class="h3">{{ "rooms.Anothor Rooms" | translate }}</h2>

    <div class="row g-4">
      @for (room of AdsRooms.slice(0,4); track $index) {
      <div class="col-md-3 col-sm-6 col-12">
        <div class="rounded-5 parent-layer h-100">
          <img
            [src]="room.room.images[0]"
            class="w-100 h-100 rounded-5"
            alt=""
          />
          <div class="layer">
            @if(roleUser === 'user') {
              <span (click)="addRoomToFavorites(room._id)"
              ><i class="fa-solid fa-heart"></i
            ></span>
            } @else {
              <span (click)="openDialog('800ms', '300ms')"
              ><i class="fa-solid fa-heart"></i
            ></span>
            }
            <span [routerLink]="['/landing-page/Details-Room', room._id]"><i class="fa-solid fa-eye"></i></span>
          </div>
          <div class="price-room">
            ${{ room.room.price }} {{ "per night" | translate }}
          </div>
          <div
            class="mb-1 ms-2 fs-5 text-white fa-bold position-absolute bottom-0 start-0"
          >
            {{ "Room number" | translate }}: {{ room.room.roomNumber }}
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</section>
