<div class="container py-4 px-2">
  <h3 class="mb-2">
    Edit room
  </h3>
  <div class="card-auth">
  <div class="inputs-auth">
    <form [formGroup]="editRoomForm">
      <div class="mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label >Room Number</mat-label>
          <input type="text" formControlName="roomNumber" matInput placeholder="Room Number">

        </mat-form-field>
      </div>
      <div class="row gap-2 flex-nowrap mb-3">
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Price</mat-label>
            <input type="number" formControlName="price" matInput placeholder="Price">

          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Capacity</mat-label>
            <input type="number" formControlName="capacity" matInput placeholder="Capacity">
            <mat-error *ngIf="editRoomForm.get('capacity')?.errors &&
              editRoomForm.get('capacity')?.touched">
              <p *ngIf="editRoomForm.get('capacity')?.getError('required')">
               Capacity is  required
              </p>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row gap-2 flex-nowrap mb-3">
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Discount</mat-label>
            <input type="number" formControlName="discount" matInput placeholder="Discount">
            <mat-error *ngIf="editRoomForm.get('discount')?.errors &&
              editRoomForm.get('discount')?.touched">
              <p *ngIf="editRoomForm.get('discount')?.getError('required')">
                Discount required
              </p>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Facility</mat-label>
            <mat-select formControlName="facilities" multiple>
              @for (facility of facilities; track facility) {
                <mat-option [value]="facility">{{facility.name}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div>
        <ngx-dropzone
          class="mb-3 dropzone"
          (change)="onSelect($event)"
          [multiple]="true"
        >
          <ngx-dropzone-label *ngIf="!imgSrc">
            <i
              class="fa-solid fa-arrow-up-from-bracket d-block fs-2 pb-3"
            ></i>
            Drag & Drop or
            <span class="text-mainColor">Choose a Item Image</span> to
            Upload
          </ngx-dropzone-label>
          <ngx-dropzone-label *ngIf="imgSrc">
            <ng-container *ngFor="let item of imgSrc">
              <img [src]="item" class="w-25 px-1 img-thumbnail" alt="" />
            </ng-container>
          </ngx-dropzone-label>
          <ngx-dropzone-image-preview
            ngProjectAs="ngx-dropzone-preview"
            *ngFor="let f of files"
            [file]="f"
            [removable]="true"
            (removed)="onRemove(f)"
          >
          </ngx-dropzone-image-preview>
        </ngx-dropzone>
      </div>
      <div class="d-flex justify-content-end align-items-end mt-5">
        <button
          type="button"
          (click)="onNoClick()"
          class="btn-cancel"
        >
          Cancle
        </button>
        <button class="mx-4 btn-save" [mat-dialog-close]="data">
          Save
        </button>
      </div>
    </form>
  </div>
</div>
</div>

